In [1]:
import pandas as pd

In [2]:
car = pd.read_csv('quikr_car.csv')
car.head()

,name,company,year,Price,kms_driven,fuel_type
0,Hyundai Santro Xing XO eRLX Euro III,Hyundai,2007,"80,000","45,000 kms",Petrol
1,Mahindra Jeep CL550 MDI,Mahindra,2006,"4,25,000",40 kms,Diesel
2,Maruti Suzuki Alto 800 Vxi,Maruti,2018,Ask For Price,"22,000 kms",Petrol
3,Hyundai Grand i10 Magna 1.2 Kappa VTVT,Hyundai,2014,"3,25,000","28,000 kms",Petrol
4,Ford EcoSport Titanium 1.5L TDCi,Ford,2014,"5,75,000","36,000 kms",Diesel

In [3]:
car.shape

(892, 6)

In [4]:
car.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 892 entries, 0 to 891
Data columns (total 6 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   name        892 non-null    object
 1   company     892 non-null    object
 2   year        892 non-null    object
 3   Price       892 non-null    object
 4   kms_driven  840 non-null    object
 5   fuel_type   837 non-null    object
dtypes: object(6)
memory usage: 41.9+ KB

In [5]:
car['year'].unique()

array(['2007', '2006', '2018', '2014', '2015', '2012', '2013', '2016',
       '2010', '2017', '2008', '2011', '2019', '2009', '2005', '2000',
       '...', '150k', 'TOUR', '2003', 'r 15', '2004', 'Zest', '/-Rs',
       'sale', '1995', 'ara)', '2002', 'SELL', '2001', 'tion', 'odel',
       '2 bs', 'arry', 'Eon', 'o...', 'ture', 'emi', 'car', 'able', 'no.',
       'd...', 'SALE', 'digo', 'sell', 'd Ex', 'n...', 'e...', 'D...',
       ', Ac', 'go .', 'k...', 'o c4', 'zire', 'cent', 'Sumo', 'cab',
       't xe', 'EV2', 'r...', 'zest'], dtype=object)

In [6]:
car['Price'].unique()

array(['80,000', '4,25,000', 'Ask For Price', '3,25,000', '5,75,000',
       '1,75,000', '1,90,000', '8,30,000', '2,50,000', '1,82,000',
       '3,15,000', '4,15,000', '3,20,000', '10,00,000', '5,00,000',
       '3,50,000', '1,60,000', '3,10,000', '75,000', '1,00,000',
       '2,90,000', '95,000', '1,80,000', '3,85,000', '1,05,000',
       '6,50,000', '6,89,999', '4,48,000', '5,49,000', '5,01,000',
       '4,89,999', '2,80,000', '3,49,999', '2,84,999', '3,45,000',
       '4,99,999', '2,35,000', '2,49,999', '14,75,000', '3,95,000',
       '2,20,000', '1,70,000', '85,000', '2,00,000', '5,70,000',
       '1,10,000', '4,48,999', '18,91,111', '1,59,500', '3,44,999',
       '4,49,999', '8,65,000', '6,99,000', '3,75,000', '2,24,999',
       '12,00,000', '1,95,000', '3,51,000', '2,40,000', '90,000',
       '1,55,000', '6,00,000', '1,89,500', '2,10,000', '3,90,000',
       '1,35,000', '16,00,000', '7,01,000', '2,65,000', '5,25,000',
       '3,72,000', '6,35,000', '5,50,000', '4,85,000', '3,29,500',
       '2,51,111', '5,69,999', '69,999', '2,99,999', '3,99,999',
       '4,50,000', '2,70,000', '1,58,400', '1,79,000', '1,25,000',
       '2,99,000', '1,50,000', '2,75,000', '2,85,000', '3,40,000',
       '70,000', '2,89,999', '8,49,999', '7,49,999', '2,74,999',
       '9,84,999', '5,99,999', '2,44,999', '4,74,999', '2,45,000',
       '1,69,500', '3,70,000', '1,68,000', '1,45,000', '98,500',
       '2,09,000', '1,85,000', '9,00,000', '6,99,999', '1,99,999',
       '5,44,999', '1,99,000', '5,40,000', '49,000', '7,00,000', '55,000',
       '8,95,000', '3,55,000', '5,65,000', '3,65,000', '40,000',
       '4,00,000', '3,30,000', '5,80,000', '3,79,000', '2,19,000',
       '5,19,000', '7,30,000', '20,00,000', '21,00,000', '14,00,000',
       '3,11,000', '8,55,000', '5,35,000', '1,78,000', '3,00,000',
       '2,55,000', '5,49,999', '3,80,000', '57,000', '4,10,000',
       '2,25,000', '1,20,000', '59,000', '5,99,000', '6,75,000', '72,500',
       '6,10,000', '2,30,000', '5,20,000', '5,24,999', '4,24,999',
       '6,44,999', '5,84,999', '7,99,999', '4,44,999', '6,49,999',
       '9,44,999', '5,74,999', '3,74,999', '1,30,000', '4,01,000',
       '13,50,000', '1,74,999', '2,39,999', '99,999', '3,24,999',
       '10,74,999', '11,30,000', '1,49,000', '7,70,000', '30,000',
       '3,35,000', '3,99,000', '65,000', '1,69,999', '1,65,000',
       '5,60,000', '9,50,000', '7,15,000', '45,000', '9,40,000',
       '1,55,555', '15,00,000', '4,95,000', '8,00,000', '12,99,000',
       '5,30,000', '14,99,000', '32,000', '4,05,000', '7,60,000',
       '7,50,000', '4,19,000', '1,40,000', '15,40,000', '1,23,000',
       '4,98,000', '4,80,000', '4,88,000', '15,25,000', '5,48,900',
       '7,25,000', '99,000', '52,000', '28,00,000', '4,99,000',
       '3,81,000', '2,78,000', '6,90,000', '2,60,000', '90,001',
       '1,15,000', '15,99,000', '1,59,000', '51,999', '2,15,000',
       '35,000', '11,50,000', '2,69,000', '60,000', '4,30,000',
       '85,00,003', '4,01,919', '4,90,000', '4,24,000', '2,05,000',
       '5,49,900', '3,71,500', '4,35,000', '1,89,700', '3,89,700',
       '3,60,000', '2,95,000', '1,14,990', '10,65,000', '4,70,000',
       '48,000', '1,88,000', '4,65,000', '1,79,999', '21,90,000',
       '23,90,000', '10,75,000', '4,75,000', '10,25,000', '6,15,000',
       '19,00,000', '14,90,000', '15,10,000', '18,50,000', '7,90,000',
       '17,25,000', '12,25,000', '68,000', '9,70,000', '31,00,000',
       '8,99,000', '88,000', '53,000', '5,68,500', '71,000', '5,90,000',
       '7,95,000', '42,000', '1,89,000', '1,62,000', '35,999',
       '29,00,000', '39,999', '50,500', '5,10,000', '8,60,000',
       '5,00,001'], dtype=object)

In [7]:
car['kms_driven'].unique()

array(['45,000 kms', '40 kms', '22,000 kms', '28,000 kms', '36,000 kms',
       '59,000 kms', '41,000 kms', '25,000 kms', '24,530 kms',
       '60,000 kms', '30,000 kms', '32,000 kms', '48,660 kms',
       '4,000 kms', '16,934 kms', '43,000 kms', '35,550 kms',
       '39,522 kms', '39,000 kms', '55,000 kms', '72,000 kms',
       '15,975 kms', '70,000 kms', '23,452 kms', '35,522 kms',
       '48,508 kms', '15,487 kms', '82,000 kms', '20,000 kms',
       '68,000 kms', '38,000 kms', '27,000 kms', '33,000 kms',
       '46,000 kms', '16,000 kms', '47,000 kms', '35,000 kms',
       '30,874 kms', '15,000 kms', '29,685 kms', '1,30,000 kms',
       '19,000 kms', nan, '54,000 kms', '13,000 kms', '38,200 kms',
       '50,000 kms', '13,500 kms', '3,600 kms', '45,863 kms',
       '60,500 kms', '12,500 kms', '18,000 kms', '13,349 kms',
       '29,000 kms', '44,000 kms', '42,000 kms', '14,000 kms',
       '49,000 kms', '36,200 kms', '51,000 kms', '1,04,000 kms',
       '33,333 kms', '33,600 kms', '5,600 kms', '7,500 kms', '26,000 kms',
       '24,330 kms', '65,480 kms', '28,028 kms', '2,00,000 kms',
       '99,000 kms', '2,800 kms', '21,000 kms', '11,000 kms',
       '66,000 kms', '3,000 kms', '7,000 kms', '38,500 kms', '37,200 kms',
       '43,200 kms', '24,800 kms', '45,872 kms', '40,000 kms',
       '11,400 kms', '97,200 kms', '52,000 kms', '31,000 kms',
       '1,75,430 kms', '37,000 kms', '65,000 kms', '3,350 kms',
       '75,000 kms', '62,000 kms', '73,000 kms', '2,200 kms',
       '54,870 kms', '34,580 kms', '97,000 kms', '60 kms', '80,200 kms',
       '3,200 kms', '0,000 kms', '5,000 kms', '588 kms', '71,200 kms',
       '1,75,400 kms', '9,300 kms', '56,758 kms', '10,000 kms',
       '56,450 kms', '56,000 kms', '32,700 kms', '9,000 kms', '73 kms',
       '1,60,000 kms', '84,000 kms', '58,559 kms', '57,000 kms',
       '1,70,000 kms', '80,000 kms', '6,821 kms', '23,000 kms',
       '34,000 kms', '1,800 kms', '4,00,000 kms', '48,000 kms',
       '90,000 kms', '12,000 kms', '69,900 kms', '1,66,000 kms',
       '122 kms', '0 kms', '24,000 kms', '36,469 kms', '7,800 kms',
       '24,695 kms', '15,141 kms', '59,910 kms', '1,00,000 kms',
       '4,500 kms', '1,29,000 kms', '300 kms', '1,31,000 kms',
       '1,11,111 kms', '59,466 kms', '25,500 kms', '44,005 kms',
       '2,110 kms', '43,222 kms', '1,00,200 kms', '65 kms',
       '1,40,000 kms', '1,03,553 kms', '58,000 kms', '1,20,000 kms',
       '49,800 kms', '100 kms', '81,876 kms', '6,020 kms', '55,700 kms',
       '18,500 kms', '1,80,000 kms', '53,000 kms', '35,500 kms',
       '22,134 kms', '1,000 kms', '8,500 kms', '87,000 kms', '6,000 kms',
       '15,574 kms', '8,000 kms', '55,800 kms', '56,400 kms',
       '72,160 kms', '11,500 kms', '1,33,000 kms', '2,000 kms',
       '88,000 kms', '65,422 kms', '1,17,000 kms', '1,50,000 kms',
       '10,750 kms', '6,800 kms', '5 kms', '9,800 kms', '57,923 kms',
       '30,201 kms', '6,200 kms', '37,518 kms', '24,652 kms', '383 kms',
       '95,000 kms', '3,528 kms', '52,500 kms', '47,900 kms',
       '52,800 kms', '1,95,000 kms', '48,008 kms', '48,247 kms',
       '9,400 kms', '64,000 kms', '2,137 kms', '10,544 kms', '49,500 kms',
       '1,47,000 kms', '90,001 kms', '48,006 kms', '74,000 kms',
       '85,000 kms', '29,500 kms', '39,700 kms', '67,000 kms',
       '19,336 kms', '60,105 kms', '45,933 kms', '1,02,563 kms',
       '28,600 kms', '41,800 kms', '1,16,000 kms', '42,590 kms',
       '7,400 kms', '54,500 kms', '76,000 kms', '00 kms', '11,523 kms',
       '38,600 kms', '95,500 kms', '37,458 kms', '85,960 kms',
       '12,516 kms', '30,600 kms', '2,550 kms', '62,500 kms',
       '69,000 kms', '28,400 kms', '68,485 kms', '3,500 kms',
       '85,455 kms', '63,000 kms', '1,600 kms', '77,000 kms',
       '26,500 kms', '2,875 kms', '13,900 kms', '1,500 kms', '2,450 kms',
       '1,625 kms', '33,400 kms', '60,123 kms', '38,900 kms',
       '1,37,495 kms', '91,200 kms', '1,46,000 kms', '1,00,800 kms',
       '2,100 kms', '2,500 kms', '1,32,000 kms', 'Petrol'], dtype=object)

In [8]:
car['fuel_type'].unique()

array(['Petrol', 'Diesel', nan, 'LPG'], dtype=object)

In [9]:
car['name'].unique()

array(['Hyundai Santro Xing XO eRLX Euro III', 'Mahindra Jeep CL550 MDI',
       'Maruti Suzuki Alto 800 Vxi',
       'Hyundai Grand i10 Magna 1.2 Kappa VTVT',
       'Ford EcoSport Titanium 1.5L TDCi', 'Ford Figo', 'Hyundai Eon',
       'Ford EcoSport Ambiente 1.5L TDCi',
       'Maruti Suzuki Alto K10 VXi AMT', 'Skoda Fabia Classic 1.2 MPI',
       'Maruti Suzuki Stingray VXi', 'Hyundai Elite i20 Magna 1.2',
       'Mahindra Scorpio SLE BS IV', 'Audi A8', 'Audi Q7',
       'Mahindra Scorpio S10', 'Maruti Suzuki Alto 800',
       'Hyundai i20 Sportz 1.2', 'Maruti Suzuki Alto 800 Lx',
       'Maruti Suzuki Vitara Brezza ZDi', 'Maruti Suzuki Alto LX',
       'Mahindra Bolero DI', 'Maruti Suzuki Swift Dzire ZDi',
       'Mahindra Scorpio S10 4WD', 'Maruti Suzuki Swift Vdi BSIII',
       'Maruti Suzuki Wagon R VXi BS III',
       'Maruti Suzuki Wagon R VXi Minor',
       'Toyota Innova 2.0 G 8 STR BS IV', 'Renault Lodgy 85 PS RXL',
       'Skoda Yeti Ambition 2.0 TDI CR 4x2',
       'Maruti Suzuki Baleno Delta 1.2',
       'Renault Duster 110 PS RxZ Diesel Plus',
       'Renault Duster 85 PS RxE Diesel', 'Honda City 1.5 S MT',
       'Maruti Suzuki Dzire', 'Honda Amaze', 'Honda Amaze 1.5 SX i DTEC',
       'Honda City', 'Datsun Redi GO S', 'Maruti Suzuki SX4 ZXI MT',
       'Mitsubishi Pajero Sport Limited Edition',
       'Maruti Suzuki Swift VXi 1.2 ABS BS IV', 'Honda City ZX CVT',
       'Maruti Suzuki Wagon R LX BS IV', 'Tata Indigo eCS LS CR4 BS IV',
       'Volkswagen Polo Highline Exquisite P',
       'I want to sell my car Tata Zest', 'Chevrolet Spark LS 1.0',
       'Renault Duster 110PS Diesel RxZ', 'Mini Cooper S 1.6',
       'Skoda Fabia 1.2L Diesel Ambiente', 'Renault Duster',
       'Mahindra Scorpio S4', 'Mahindra Scorpio VLX 2WD BS IV',
       'Mahindra Quanto C8', 'Ford EcoSport', 'Honda Brio',
       'Volkswagen Vento Highline Plus 1.5 Diesel AT',
       'Hyundai i20 Magna', 'Toyota Corolla Altis Diesel D4DG',
       'Hyundai Verna Transform SX VTVT',
       'Toyota Corolla Altis Petrol Ltd', 'Honda City 1.5 EXi New',
       'Skoda Fabia 1.2L Diesel Elegance', 'BMW 3 Series 320i',
       'Maruti Suzuki A Star Lxi', 'Toyota Etios GD',
       'Ford Figo Diesel EXI Option',
       'Maruti Suzuki Swift Dzire VXi 1.2 BS IV',
       'Chevrolet Beat LT Diesel', 'BMW 7 Series 740Li Sedan',
       'Mahindra XUV500 W8 AWD 2013', 'Hyundai i10 Magna 1.2',
       'Hyundai Verna Fluidic New', 'Maruti Suzuki Swift VXi 1.2 BS IV',
       'Maruti Suzuki Ertiga ZXI Plus', 'Maruti Suzuki Ertiga Vxi',
       'Maruti Suzuki Ertiga VDi', 'Maruti Suzuki Alto LXi BS III',
       'Hyundai Grand i10 Asta 1.1 CRDi', 'Honda Amaze 1.2 S i VTEC',
       'Hyundai i20 Asta 1.4 CRDI 6 Speed', 'Ford Figo Diesel EXI',
       'Maruti Suzuki Eeco 5 STR WITH AC HTR', 'Maruti Suzuki Ertiga ZXi',
       'Maruti Suzuki Esteem LXi BS III', 'Maruti Suzuki Ritz VXI',
       'Maruti Suzuki Ritz LDi', 'Maruti Suzuki Dzire VDI',
       'Toyota Etios Liva G', 'Hyundai i20 Sportz 1.4 CRDI',
       'Chevrolet Spark', 'Nissan Micra XV', 'Maruti Suzuki Swift',
       'Honda Amaze 1.5 S i DTEC', 'Chevrolet Beat', 'Toyota Corolla',
       'Honda City 1.5 V MT', 'Ford EcoSport Trend 1.5L TDCi',
       'Hyundai i20 Asta 1.2', 'Tata Indica V2 eLS',
       'Maruti Suzuki Alto 800 Lxi', 'Hindustan Motors Ambassador',
       'Toyota Corolla Altis 1.8 GL', 'Toyota Corolla Altis 1.8 J',
       'Toyota Innova 2.5 GX BS IV 7 STR',
       'Volkswagen Jetta Highline TDI AT',
       'Volkswagen Polo Comfortline 1.2L P', 'Volkswagen Polo',
       'Mahindra Scorpio', 'Nissan Sunny', 'Hyundai Elite i20',
       'Renault Kwid', 'Mahindra Scorpio VLX Airbag',
       'Chevrolet Spark LT 1.0', 'Datsun Redi GO T O',
       'Maruti Suzuki Swift RS VDI', 'Fiat Punto Emotion 1.2',
       'Hyundai i10 Sportz 1.2', 'Chevrolet Beat LT Opt Diesel',
       'Chevrolet Beat LS Diesel', 'Tata Indigo CS',
       'Maruti Suzuki Swift VDi', 'Hyundai Eon Era Plus',
       'Mahindra XUV500', 'Ford Fiesta', 'Maruti Suzuki Wagon R',
       'Hyundai i20', 'Tata Indigo eCS LX TDI BS III',
       'Hyundai Fluidic Verna 1.6 CRDi SX',
       'Commercial , DZire LDI, 2016, for sale', 'Fiat Petra ELX 1.2 PS',
       'Hyundai Santro Xing XS', 'Maruti Suzuki Ciaz VXi Plus',
       'Maruti Suzuki Zen VX', 'Hyundai Creta 1.6 SX Plus Petrol',
       'Tata indigo ecs LX, 201', 'Mahindra Scorpio SLX',
       'Toyota Innova 2.5 G BS III 8 STR',
       'Maruti Suzuki Wagon R LXI BS IV', 'Tata Nano Cx BSIV',
       'Maruti Suzuki Alto Std BS IV', 'Maruti Suzuki Wagon R LXi BS III',
       'Maruti Suzuki Swift VXI BSIII',
       'Tata Sumo Victa EX 10 by 7 Str BSIII', 'MARUTI SUZUKI DESI',
       'Volkswagen Passat Diesel Comfortline AT',
       'Renault Scala RxL Diesel Travelogue',
       'Hyundai Grand i10 Sportz O 1.2 Kappa VTVT',
       'Hyundai i20 Active 1.2 SX', 'Mahindra Xylo E4',
       'Mahindra Jeep MM 550 XDB', 'Mahindra Bolero SLE BS IV',
       'Force Motors Force One LX ABS 7 STR', 'Maruti Suzuki SX4',
       'Toyota Etios', 'Honda City ZX VTEC',
       'Maruti Suzuki Wagon R LX BS III', 'Honda City VX O MT Diesel',
       'Mahindra Thar CRDe 4x4 AC',
       'Audi A4 1.8 TFSI Multitronic Premium Plus',
       'Mercedes Benz GLA Class 200 CDI Sport',
       'Land Rover Freelander 2 SE', 'Renault Kwid RXT',
       'Tata Aria Pleasure 4X2', 'Mercedes Benz B Class B180 Sports',
       'Datsun GO T O', 'Honda Jazz VX MT',
       'Hyundai i20 Active 1.4L SX O', 'Mini Cooper S',
       'Maruti Suzuki Ciaz ZXI Plus', 'Chevrolet Tavera Neo',
       'Hyundai Eon Sportz', 'Tata Sumo Gold Select Variant',
       'Maruti Suzuki Wagon R 1.0', 'Maruti Suzuki Esteem VXi BS III',
       'Chevrolet Enjoy 1.4 LS 8 STR', 'Maruti Suzuki Wagon R 1.0 VXi',
       'Nissan Terrano XL D Plus', 'Renault Duster 85 PS RxL Diesel',
       'Maruti Suzuki Dzire ZXI', 'Renault Kwid RXT Opt',
       'Maruti Suzuki Maruti 800 Std', 'Renault Kwid 1.0 RXT AMT',
       'Renault Scala RxL Diesel',
       'Hyundai Grand i10 Asta 1.2 Kappa VTVT O',
       'Chevrolet Beat LS Petrol', 'Hyundai Accent GLX', 'Yama',
       'Maruti Suzuki Swift LDi', 'Mahindra TUV300 T4 Plus',
       'Tata Indica V2 Xeta e GLE', 'Tata Indigo CS LS DiCOR',
       'Mahindra Scorpio VLX Special Edition BS III',
       'Tata Indica eV2 LS', 'Honda Accord',
       'Ford EcoSport Titanium 1.5 TDCi', 'Maruti Suzuki Ertiga',
       'Mahindra Scorpio 2.6 CRDe', 'Honda Mobilio',
       'Toyota Corolla Altis', 'Skoda Laura', 'Hyundai Verna Fluidic',
       'Maruti Suzuki Vitara Brezza', 'Tata Manza Aura Quadrajet',
       'Chevrolet Sail UVA Petrol LT ABS',
       'Hyundai Verna Fluidic 1.6 VTVT SX',
       'Audi A4 2.0 TDI 177bhp Premium', 'Hyundai Elantra SX',
       'Mahindra Scorpio VLX 4WD Airbag', 'Mahindra KUV100 K8 D 6 STR',
       'Hyundai Grand i10', 'Hyundai i10', 'Hyundai i20 Active',
       'Datsun Redi GO', 'Toyota Etios Liva', 'Hyundai Accent',
       'Hyundai Verna', 'Toyota Fortuner', 'Hyundai i10 Sportz',
       'Mahindra Bolero Power Plus SLE', 'selling car Ta',
       'Honda City 1.5 V MT Exclusive', 'Chevrolet Spark LT 1.0 Airbag',
       'Tata Indigo eCS VX CR4 BS IV', 'Tata Zest 90',
       'Skoda Rapid Elegance 1.6 TDI CR MT', 'Tata Vista Quadrajet VX',
       'Maruti Suzuki Alto K10 VXi AT', 'Maruti Suzuki Zen LXi BS III',
       'Maruti Suzuki Swift Dzire Tour LDi', 'Honda City ZX EXi',
       'Chevrolet Beat Diesel', 'Maruti Suzuki Swift Dzire car',
       'Hyundai Verna 1.4 VTVT', 'Toyota Innova 2.5 E MS 7 STR BS IV',
       'Maruti Suzuki Maruti 800 Std – Befo',
       'Hyundai Elite i20 Asta 1.4 CRDI',
       'Maruti Suzuki Swift Dzire Tour (Gat',
       'Maruti Suzuki Versa DX2 8 SEATER BSIII',
       'Tata Indigo LX TDI BS III',
       'Volkswagen Vento Konekt Diesel Highline',
       'Mercedes Benz C Class 200 CDI Classic', 'URJE',
       'Hyundai Santro Xing GLS', 'Maruti Suzuki Omni Limited Edition',
       'Hyundai Sonata Transform 2.4 GDi MT',
       'Hyundai Elite i20 Sportz 1.2', 'Honda Jazz S MT',
       'Hyundai Grand i10 Sportz 1.2 Kappa VTVT',
       'Maruti Suzuki Zen LXi BSII',
       'Mahindra Scorpio W Turbo 2.6DX 9 Seater',
       'Swift Dzire Tour 27 Dec 2016 Regis', 'Maruti Suzuki Alto K10 VXi',
       'Hyundai Grand i10 Asta 1.2 Kappa VTVT', 'Mahindra XUV500 W8',
       'Hyundai i20 Magna O 1.2', 'Renault Duster 85 PS RxL Explore LE',
       'Honda Brio V MT', 'Mahindra TUV300 T8',
       'Nissan X Trail Select Variant', 'Ford Ikon 1.3 CLXi NXt Finesse',
       'Toyota Fortuner 3.0 4x4 MT', 'Tata Manza ELAN Quadrajet',
       'Tata zest x', 'Mahindra xyl',
       'Mercedes Benz A Class A 180 Sport Petrol', 'Tata Indigo LS',
       'Hyundai i20 Magna 1.2', 'Used Commercial Maruti Omn',
       'Honda Amaze 1.5 E i DTEC', 'Hyundai Verna 1.6 EX VTVT',
       'BMW 5 Series 520d Sedan', 'Skoda Superb 1.8 TFSI AT',
       'Audi Q3 2.0 TDI quattro Premium', 'Mahindra Bolero DI BSII',
       'Maruti Suzuki Zen Estilo LXI Green CNG',
       'Ford Figo Duratorq Diesel Titanium 1.4',
       'Maruti Suzuki Wagon R VXI BS IV', 'Mahindra Logan Diesel 1.5 DLS',
       'Tata Nano GenX XMA', 'Honda City SV', 'Ford Figo Petrol LXI',
       'Hyundai i10 Magna 1.2 Kappa2', 'Toyota Corolla H2',
       'Maruti Suzuki Swift Dzire Tour VXi', 'Tata Indigo CS eLS BS IV',
       'Hyundai Xcent Base 1.1 CRDi', 'Hyundai Accent Executive Edition',
       'Tata Zest XE 75 PS Diesel', 'Maruti Suzuki Dzire LDI',
       'Tata Sumo Gold LX BS IV', 'Toyota Corolla Altis GL Petrol',
       'Maruti Suzuki Eeco 7 STR', 'Toyota Fortuner 3.0 4x2 MT',
       'Mahindra XUV500 W6', 'Tata Tigor Revotron XZ',
       'Maruti Suzuki 800', 'Honda Mobilio S i DTEC',
       'Hyundai Verna 1.6 CRDI E', 'Maruti Suzuki Omni Select Variant',
       'Tata Indica', 'Hyundai Santro Xing', 'Maruti Suzuki Zen Estilo',
       'Honda Brio VX AT', 'Maruti Suzuki Wagon R Select Variant',
       'Tata Nano Lx BSIV', 'Jaguar XE XE Portfolio',
       'Hyundai Xcent S 1.2', 'Hyundai Eon Magna Plus',
       'Maruti Suzuki Ritz GENUS VXI',
       'Hyundai Grand i10 Magna AT 1.2 Kappa VTVT',
       'Hyundai Eon D Lite Plus', 'Honda Amaze 1.2 VX i VTEC',
       'Maruti Suzuki Estilo VXi ABS BS IV',
       'Maruti Suzuki Vitara Brezza LDi O', 'Toyota Innova 2.0 V',
       'Hyundai Creta 1.6 SX Plus Petrol AT', 'Mahindra Scorpio Vlx BSIV',
       'Mitsubishi Lancer 1.8 LXi', 'Maruti Suzuki Maruti 800 AC',
       'Maruti Suzuki Alto 800 LXI CNG O', 'Ford Fiesta SXi 1.6 ABS',
       'Maruti Suzuki Ritz VDi', 'Maruti Suzuki Estilo LX BS IV',
       'Audi A6 2.0 TDI Premium', 'Maruti Suzuki Alto',
       'Maruti Suzuki Baleno Sigma 1.2', 'Hyundai Verna 1.6 SX VTVT AT',
       'Maruti Suzuki Swift GLAM', 'Hyundai Getz Prime 1.3 GVS',
       'Hyundai Santro', 'Hyundai Getz Prime 1.3 GLX',
       'Chevrolet Beat PS Diesel', 'Ford EcoSport Trend 1.5 Ti VCT',
       'Tata Indica V2 DLG', 'BMW X1 xDrive20d xLine',
       'Honda City 1.5 V AT', 'Tata Nano', 'Chevrolet Cruze LTZ AT',
       'Hyun', 'Maruti Suzuki Swift Dzire VDi', 'Mahindra XUV500 W10',
       'Maruti Suzuki Alto K10 LXi CNG', 'Hyundai Accent GLE',
       'Force Motors One SUV', 'Datsun Go Plus T O',
       'Chevrolet Spark 1.0 LT', 'Toyota Etios Liva GD',
       'Renault Duster 85PS Diesel RxL Optional with Nav',
       'Chevrolet Enjoy', 'BMW 5 Series 530i', 'Chevrolet Cruze LTZ',
       'Jeep Wrangler Unlimited 4x4 Diesel',
       'Hyundai Verna VGT CRDi SX ABS', 'Maruti Suzuki Omni',
       'Maruti Suzuki Celerio VDi', 'Tata Zest Quadrajet 1.3',
       'Tata Indigo CS eLX BS IV', 'Hyundai i10 Era',
       'Tata Indigo eCS LX CR4 BS IV', 'Tata Indigo Marina LS',
       'Commercial Chevrolet Sail Hatchback ca', 'Hyundai Xcent SX 1.2',
       'Tata Nano LX Special Edition', 'Commercial Car Ta',
       'Renault Duster 110 PS RxZ Diesel',
       'Maruti Suzuki Wagon R AX BSIV', 'Maruti Suzuki Alto K10 New',
       'tata Indica', 'Mahindra Xylo E8', 'Tata Manza Aqua Quadrajet',
       'Used bt new conditions ta', 'Renault Kwid 1.0', 'Sale tata',
       'Tata Venture EX 8 STR', 'Maruti Suzuki Swift Dzire Tour LXi',
       'Maruti Suzuki Alto LX BSII', 'Skoda Octavia Classic 1.9 TDI MT',
       'Maruti Suzuki Omni LPG BS IV', 'Tata Sumo Gold EX BS IV',
       'Tata indigo 2017 top model..', 'Hyundai Verna 1.6 CRDI SX',
       'Mahindra Scorpio SLX 2.6 Turbo 8 Str', 'Ford Ikon 1.6 Nxt',
       'Tata indigo', 'Toyota Innova 2.5 V 7 STR', 'Nissan Sunny XL',
       'Maruti Suzuki Swift VDi BS IV',
       'very good condition tata bolts are av', 'Toyota Innova 2.0 G4',
       'Sale Hyundai xcent commerc', 'Maruti Suzuki Swift VDi ABS',
       'Hyundai Elite i20 Asta 1.2', 'Volkswagen Polo Trendline 1.5L D',
       'Toyota Etios Liva Diesel', 'Maruti Suzuki Ciaz ZXi Plus RS',
       'Hyundai Elantra 1.8 S', 'Ford EcoSport Trend 1.5L Ti VCT',
       'Jaguar XF 2.2 Diesel Luxury',
       'Audi Q5 2.0 TDI quattro Premium Plus', 'BMW 3 Series 320d Sedan',
       'Maruti Suzuki Swift ZXi 1.2 BS IV', 'BMW X1 sDrive20d',
       'Maruti Suzuki S Cross Sigma 1.3', 'Maruti Suzuki Ertiga LDi',
       'Volkswagen Vento Comfortline Petrol', 'Mahindra KUV100',
       'Maruti Suzuki Swift Dzire Tour VDi', 'Mahindra Scorpio 2.6 SLX',
       'Maruti Suzuki Omni 8 STR BS III',
       'Volkswagen Jetta Comfortline 1.9 TDI AT', 'Volvo S80 Summum D4',
       'Toyota Corolla Altis VL AT Petrol',
       'Mitsubishi Pajero Sport 2.5 AT', 'Chevrolet Beat LT Petrol',
       'BMW X1', 'Mercedes Benz C Class C 220 CDI Avantgarde',
       'Volkswagen Vento Comfortline Diesel', 'Tata Indigo CS GLS',
       'Ford Figo Petrol Titanium', 'Honda City ZX GXi',
       'Maruti Suzuki Wagon R Duo Lxi', 'Maruti Suzuki Zen LX BSII',
       'Renault Duster RxL Petrol', 'Maruti Suzuki Baleno Zeta 1.2',
       'Honda WR V S MT Petrol', 'Renault Duster 110 PS RxL Diesel',
       'Mahindra Scorpio LX BS III',
       'Maruti Suzuki SX4 Celebration Diesel',
       'Audi A3 Cabriolet 40 TFSI',
       'I want to sell my commercial car due t',
       'Hyundai Santro AE GLS Audio',
       'i want sale my car.no emi....uber atta', 'Tata ZEST 6 month old',
       'Mahindra Xylo D2 BS IV', 'Hyundai Getz GLE',
       'Hyundai Creta 1.6 SX', 'Hyundai Santro Xing XL AT eRLX Euro III',
       'Hyundai Santro Xing XL eRLX Euro III',
       'Tata Indica V2 DLS BS III', 'Honda City 1.5 E MT',
       'Nissan Micra XL', 'Honda City 1.5 S Inspire',
       'Tata Indica eV2 eXeta eGLX', 'Maruti Suzuki Omni E 8 STR BS IV',
       'MARUTI SUZUKI ERTIGA F', 'Hyundai Verna 1.6 CRDI SX Plus AT',
       'Chevrolet Tavera LS B3 10 Seats BSII', 'Tata Tiago Revotron XM',
       'Tata Tiago Revotorq XZ', 'Tata Nexon', 'Tata',
       'Hindustan Motors Ambassador Classic Mark 4 – Befo',
       'Ford Fusion 1.4 TDCi Diesel',
       'Fiat Linea Emotion 1.4 L T Jet Petrol',
       'Ford Ikon 1.3 Flair Josh 100', 'Tata Indica V2 LS',
       'Mahindra Xylo D2', 'Hyundai Eon Magna',
       'Tata Sumo Grande MKII GX', 'Volkswagen Polo Highline1.2L P',
       'Tata Tiago Revotron XZ', 'Tata Indigo eCS',
       '2012 Tata Sumo Gold f', 'Mahindra Xylo E8 BS IV',
       'Well mentained Tata Sumo',
       'all paper updated tata indica v2 and u',
       'Maruti Ertiga showroom condition with',
       '7 SEATER MAHINDRA BOLERO IN VERY GOOD', '9 SEATER MAHINDRA BOL',
       'scratch less Tata I', 'Maruti Suzuki swift dzire for sale in',
       'Commercial Chevrolet beat for sale in',
       'urgent sell my Mahindra qu', 'Tata Sumo Gold FX BSIII',
       'sell my car Maruti Suzuki Swif',
       'Maruti Suzuki Swift Dzire good car fo', 'Hyunda',
       'Commercial Maruti Suzuki Alto Lxi 800', 'urgent sale Ta',
       'Maruti Suzuki Alto vxi t', 'tata', 'TATA INDI', 'Hyundai Creta',
       'Tata Bolt XM Petrol', 'Hyundai Venue', 'Maruti Suzuki Ritz',
       'Renault Lodgy', 'Hyundai i20 Asta',
       'Maruti Suzuki Swift Select Variant', 'Tata Indica V2 DLX BS III',
       'Mahindra Scorpio VLX 2.2 mHawk Airbag BSIV',
       'Toyota Innova 2.5 E 8 STR', 'Mahindra KUV100 K8 6 STR',
       'Datsun Go Plus', 'Ford Endeavor 4x4 Thunder Plus',
       'Tata Indica V2', 'Hyundai Santro Xing GL',
       'Toyota Innova 2.5 Z Diesel 7 Seater',
       'Any type car avaiabel hare...comercica', 'Maruti Suzuki Alto AX',
       'Mahindra Logan', 'Maruti Suzuki 800 Std BS III',
       'Chevrolet Sail 1.2 LS',
       'Volkswagen Vento Highline Plus 1.5 Diesel', 'Tata Manza',
       'Toyota Innova 2.0 G1 Petrol 8seater', 'Toyota Etios G',
       'Toyota Qualis', 'Mahindra Quanto C4', 'Maruti Suzuki Swift Dzire',
       'Hyundai i20 Select Variant', 'Honda City VX Petrol',
       'Hyundai Getz', 'Mercedes Benz C Class 200 K MT', 'Skoda Fabia',
       'Maruti Suzuki Alto 800 Select Variant',
       'Maruti Suzuki Ritz VXI ABS', 'tata zest 2017 f',
       'Tata Indica V2 DLE BS III', 'Ta', 'Tata Zest XM Diesel',
       'Honda Amaze 1.2 E i VTEC', 'Chevrolet Sail 1.2 LT ABS'],
      dtype=object)

# Cleaning Data

In [10]:
backup = car.copy()

In [11]:
car = car[car['year'].str.isnumeric()]

In [12]:
car

,name,company,year,Price,kms_driven,fuel_type
0,Hyundai Santro Xing XO eRLX Euro III,Hyundai,2007,"80,000","45,000 kms",Petrol
1,Mahindra Jeep CL550 MDI,Mahindra,2006,"4,25,000",40 kms,Diesel
2,Maruti Suzuki Alto 800 Vxi,Maruti,2018,Ask For Price,"22,000 kms",Petrol
3,Hyundai Grand i10 Magna 1.2 Kappa VTVT,Hyundai,2014,"3,25,000","28,000 kms",Petrol
4,Ford EcoSport Titanium 1.5L TDCi,Ford,2014,"5,75,000","36,000 kms",Diesel
...,...,...,...,...,...,...
886,Toyota Corolla Altis,Toyota,2009,"3,00,000","1,32,000 kms",Petrol
888,Tata Zest XM Diesel,Tata,2018,"2,60,000","27,000 kms",Diesel
889,Mahindra Quanto C8,Mahindra,2013,"3,90,000","40,000 kms",Diesel
890,Honda Amaze 1.2 E i VTEC,Honda,2014,"1,80,000",Petrol,NaN
891,Chevrolet Sail 1.2 LT ABS,Chevrolet,2014,"1,60,000",Petrol,NaN

In [13]:
car['year'] = car['year'].astype(int)

In [14]:
car['year']

0      2007
1      2006
2      2018
3      2014
4      2014
       ...
886    2009
888    2018
889    2013
890    2014
891    2014
Name: year, Length: 842, dtype: int32

In [15]:
car.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 842 entries, 0 to 891
Data columns (total 6 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   name        842 non-null    object
 1   company     842 non-null    object
 2   year        842 non-null    int32
 3   Price       842 non-null    object
 4   kms_driven  840 non-null    object
 5   fuel_type   837 non-null    object
dtypes: int32(1), object(5)
memory usage: 42.8+ KB

In [16]:
car =car[car['Price']!="Ask For Price"]

In [17]:
car

,name,company,year,Price,kms_driven,fuel_type
0,Hyundai Santro Xing XO eRLX Euro III,Hyundai,2007,"80,000","45,000 kms",Petrol
1,Mahindra Jeep CL550 MDI,Mahindra,2006,"4,25,000",40 kms,Diesel
3,Hyundai Grand i10 Magna 1.2 Kappa VTVT,Hyundai,2014,"3,25,000","28,000 kms",Petrol
4,Ford EcoSport Titanium 1.5L TDCi,Ford,2014,"5,75,000","36,000 kms",Diesel
6,Ford Figo,Ford,2012,"1,75,000","41,000 kms",Diesel
...,...,...,...,...,...,...
886,Toyota Corolla Altis,Toyota,2009,"3,00,000","1,32,000 kms",Petrol
888,Tata Zest XM Diesel,Tata,2018,"2,60,000","27,000 kms",Diesel
889,Mahindra Quanto C8,Mahindra,2013,"3,90,000","40,000 kms",Diesel
890,Honda Amaze 1.2 E i VTEC,Honda,2014,"1,80,000",Petrol,NaN
891,Chevrolet Sail 1.2 LT ABS,Chevrolet,2014,"1,60,000",Petrol,NaN

In [18]:
car['Price'] = car['Price'].str.replace(',' , '').astype(int)

C:\Users\U.S\AppData\Local\Temp\ipykernel_504\3664228729.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  car['Price'] = car['Price'].str.replace(',' , '').astype(int)

In [19]:
car['Price']

0       80000
1      425000
3      325000
4      575000
6      175000
        ...
886    300000
888    260000
889    390000
890    180000
891    160000
Name: Price, Length: 819, dtype: int32

In [20]:
car.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 819 entries, 0 to 891
Data columns (total 6 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   name        819 non-null    object
 1   company     819 non-null    object
 2   year        819 non-null    int32
 3   Price       819 non-null    int32
 4   kms_driven  819 non-null    object
 5   fuel_type   816 non-null    object
dtypes: int32(2), object(4)
memory usage: 38.4+ KB

In [21]:
car['kms_driven'] = car['kms_driven'].str.split(' ').str.get(0).str.replace(',' , '')

C:\Users\U.S\AppData\Local\Temp\ipykernel_504\106179939.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  car['kms_driven'] = car['kms_driven'].str.split(' ').str.get(0).str.replace(',' , '')

In [22]:
car['kms_driven']

0       45000
1          40
3       28000
4       36000
6       41000
        ...
886    132000
888     27000
889     40000
890    Petrol
891    Petrol
Name: kms_driven, Length: 819, dtype: object

In [23]:
car = car[car['kms_driven'].str.isnumeric()]

In [24]:
car

,name,company,year,Price,kms_driven,fuel_type
0,Hyundai Santro Xing XO eRLX Euro III,Hyundai,2007,80000,45000,Petrol
1,Mahindra Jeep CL550 MDI,Mahindra,2006,425000,40,Diesel
3,Hyundai Grand i10 Magna 1.2 Kappa VTVT,Hyundai,2014,325000,28000,Petrol
4,Ford EcoSport Titanium 1.5L TDCi,Ford,2014,575000,36000,Diesel
6,Ford Figo,Ford,2012,175000,41000,Diesel
...,...,...,...,...,...,...
883,Maruti Suzuki Ritz VXI ABS,Maruti,2011,270000,50000,Petrol
885,Tata Indica V2 DLE BS III,Tata,2009,110000,30000,Diesel
886,Toyota Corolla Altis,Toyota,2009,300000,132000,Petrol
888,Tata Zest XM Diesel,Tata,2018,260000,27000,Diesel
889,Mahindra Quanto C8,Mahindra,2013,390000,40000,Diesel

In [25]:
car['kms_driven']=car['kms_driven'].astype(int)

C:\Users\U.S\AppData\Local\Temp\ipykernel_504\1713770885.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  car['kms_driven']=car['kms_driven'].astype(int)

In [26]:
car.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 817 entries, 0 to 889
Data columns (total 6 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   name        817 non-null    object
 1   company     817 non-null    object
 2   year        817 non-null    int32
 3   Price       817 non-null    int32
 4   kms_driven  817 non-null    int32
 5   fuel_type   816 non-null    object
dtypes: int32(3), object(3)
memory usage: 35.1+ KB

In [27]:
car = car[~car['fuel_type'].isna()]

In [28]:
car

,name,company,year,Price,kms_driven,fuel_type
0,Hyundai Santro Xing XO eRLX Euro III,Hyundai,2007,80000,45000,Petrol
1,Mahindra Jeep CL550 MDI,Mahindra,2006,425000,40,Diesel
3,Hyundai Grand i10 Magna 1.2 Kappa VTVT,Hyundai,2014,325000,28000,Petrol
4,Ford EcoSport Titanium 1.5L TDCi,Ford,2014,575000,36000,Diesel
6,Ford Figo,Ford,2012,175000,41000,Diesel
...,...,...,...,...,...,...
883,Maruti Suzuki Ritz VXI ABS,Maruti,2011,270000,50000,Petrol
885,Tata Indica V2 DLE BS III,Tata,2009,110000,30000,Diesel
886,Toyota Corolla Altis,Toyota,2009,300000,132000,Petrol
888,Tata Zest XM Diesel,Tata,2018,260000,27000,Diesel
889,Mahindra Quanto C8,Mahindra,2013,390000,40000,Diesel

In [29]:
car.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 816 entries, 0 to 889
Data columns (total 6 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   name        816 non-null    object
 1   company     816 non-null    object
 2   year        816 non-null    int32
 3   Price       816 non-null    int32
 4   kms_driven  816 non-null    int32
 5   fuel_type   816 non-null    object
dtypes: int32(3), object(3)
memory usage: 35.1+ KB

In [30]:
car['name'] = car['name'].str.split(' ').str.slice(0,3).str.join(' ')

C:\Users\U.S\AppData\Local\Temp\ipykernel_504\96074993.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  car['name'] = car['name'].str.split(' ').str.slice(0,3).str.join(' ')

In [31]:
car['name']

0         Hyundai Santro Xing
1         Mahindra Jeep CL550
3           Hyundai Grand i10
4      Ford EcoSport Titanium
6                   Ford Figo
                ...
883        Maruti Suzuki Ritz
885            Tata Indica V2
886      Toyota Corolla Altis
888              Tata Zest XM
889        Mahindra Quanto C8
Name: name, Length: 816, dtype: object

In [32]:
car = car.reset_index(drop = True)

In [33]:
car

                       name   company  year   Price  kms_driven fuel_type
0       Hyundai Santro Xing   Hyundai  2007   80000       45000    Petrol
1       Mahindra Jeep CL550  Mahindra  2006  425000          40    Diesel
2         Hyundai Grand i10   Hyundai  2014  325000       28000    Petrol
3    Ford EcoSport Titanium      Ford  2014  575000       36000    Diesel
4                 Ford Figo      Ford  2012  175000       41000    Diesel
..                      ...       ...   ...     ...         ...       ...
811      Maruti Suzuki Ritz    Maruti  2011  270000       50000    Petrol
812          Tata Indica V2      Tata  2009  110000       30000    Diesel
813    Toyota Corolla Altis    Toyota  2009  300000      132000    Petrol
814            Tata Zest XM      Tata  2018  260000       27000    Diesel
815      Mahindra Quanto C8  Mahindra  2013  390000       40000    Diesel

[816 rows x 6 columns]

In [34]:
car.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 816 entries, 0 to 815
Data columns (total 6 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   name        816 non-null    object
 1   company     816 non-null    object
 2   year        816 non-null    int32
 3   Price       816 non-null    int32
 4   kms_driven  816 non-null    int32
 5   fuel_type   816 non-null    object
dtypes: int32(3), object(3)
memory usage: 28.8+ KB

In [35]:
car.describe()

              year         Price     kms_driven
count   816.000000  8.160000e+02     816.000000
mean   2012.444853  4.117176e+05   46275.531863
std       4.002992  4.751844e+05   34297.428044
min    1995.000000  3.000000e+04       0.000000
25%    2010.000000  1.750000e+05   27000.000000
50%    2013.000000  2.999990e+05   41000.000000
75%    2015.000000  4.912500e+05   56818.500000
max    2019.000000  8.500003e+06  400000.000000

In [36]:
car[car['Price']<6e6].reset_index(drop = True)

                       name   company  year   Price  kms_driven fuel_type
0       Hyundai Santro Xing   Hyundai  2007   80000       45000    Petrol
1       Mahindra Jeep CL550  Mahindra  2006  425000          40    Diesel
2         Hyundai Grand i10   Hyundai  2014  325000       28000    Petrol
3    Ford EcoSport Titanium      Ford  2014  575000       36000    Diesel
4                 Ford Figo      Ford  2012  175000       41000    Diesel
..                      ...       ...   ...     ...         ...       ...
810      Maruti Suzuki Ritz    Maruti  2011  270000       50000    Petrol
811          Tata Indica V2      Tata  2009  110000       30000    Diesel
812    Toyota Corolla Altis    Toyota  2009  300000      132000    Petrol
813            Tata Zest XM      Tata  2018  260000       27000    Diesel
814      Mahindra Quanto C8  Mahindra  2013  390000       40000    Diesel

[815 rows x 6 columns]

In [37]:
car.to_csv('Cleaned Data of car.csv')

# Model Building

In [58]:
x=car[['name','company','year','kms_driven','fuel_type']]
y=car['Price']

In [60]:
x

                       name   company  year  kms_driven fuel_type
0       Hyundai Santro Xing   Hyundai  2007       45000    Petrol
1       Mahindra Jeep CL550  Mahindra  2006          40    Diesel
2         Hyundai Grand i10   Hyundai  2014       28000    Petrol
3    Ford EcoSport Titanium      Ford  2014       36000    Diesel
4                 Ford Figo      Ford  2012       41000    Diesel
..                      ...       ...   ...         ...       ...
811      Maruti Suzuki Ritz    Maruti  2011       50000    Petrol
812          Tata Indica V2      Tata  2009       30000    Diesel
813    Toyota Corolla Altis    Toyota  2009      132000    Petrol
814            Tata Zest XM      Tata  2018       27000    Diesel
815      Mahindra Quanto C8  Mahindra  2013       40000    Diesel

[816 rows x 5 columns]

In [61]:
y

0       80000
1      425000
2      325000
3      575000
4      175000
        ...
811    270000
812    110000
813    300000
814    260000
815    390000
Name: Price, Length: 816, dtype: int32

In [62]:
from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.2)

In [63]:
from sklearn.linear_model import LinearRegression
from sklearn.preprocessing import OneHotEncoder
from sklearn.compose import make_column_transformer
from sklearn.pipeline import make_pipeline
from sklearn.metrics import r2_score

In [65]:
ohe=OneHotEncoder()
ohe.fit(x[['name','company','fuel_type']])

OneHotEncoder()

In [66]:
column_trans=make_column_transformer((OneHotEncoder(categories=ohe.categories_),['name','company','fuel_type']),
                                    remainder='passthrough')

In [67]:
lr=LinearRegression()

In [68]:
pipe=make_pipeline(column_trans,lr)

In [70]:
pipe.fit(x_train,y_train)

Pipeline(steps=[('columntransformer',
                 ColumnTransformer(remainder='passthrough',
                                   transformers=[('onehotencoder',
                                                  OneHotEncoder(categories=[array(['Audi A3 Cabriolet', 'Audi A4 1.8', 'Audi A4 2.0', 'Audi A6 2.0',
       'Audi A8', 'Audi Q3 2.0', 'Audi Q5 2.0', 'Audi Q7', 'BMW 3 Series',
       'BMW 5 Series', 'BMW 7 Series', 'BMW X1', 'BMW X1 sDrive20d',
       'BMW X1 xDrive20d', 'Chevrolet Beat', 'Chevrolet Beat...
                                                                            array(['Audi', 'BMW', 'Chevrolet', 'Datsun', 'Fiat', 'Force', 'Ford',
       'Hindustan', 'Honda', 'Hyundai', 'Jaguar', 'Jeep', 'Land',
       'Mahindra', 'Maruti', 'Mercedes', 'Mini', 'Mitsubishi', 'Nissan',
       'Renault', 'Skoda', 'Tata', 'Toyota', 'Volkswagen', 'Volvo'],
      dtype=object),
                                                                            array(['Diesel', 'LPG', 'Petrol'], dtype=object)]),
                                                  ['name', 'company',
                                                   'fuel_type'])])),
                ('linearregression', LinearRegression())])

In [73]:
ohe.categories

'auto'

In [75]:
y_pred = pipe.predict(x_test)

In [76]:
y_pred

array([ 705944.99562674,  299571.96151043,  501675.05572475,
        473409.56852914,  458652.01356684,  790298.19016306,
        156576.02391397,  272285.98041475,  501306.97403125,
        218021.93891834,  292294.03397334,  387317.96952338,
        726989.32892628,  165208.0528326 ,  549115.03715719,
        752438.48200977,  650417.64402409,   81992.19303691,
        585335.50228293,  978331.67830669,  317473.3914672 ,
        774064.30349955,  248297.40513427,  193002.20813482,
        452499.6249302 ,  148706.46638994,  255928.47238646,
        509058.92883824,   66832.80805788,  142223.54989724,
        574084.44927967,  652887.3264975 ,  608711.02936197,
        659379.76256912,   -4855.65318482,  511117.62210894,
        972199.06676288,  272135.51945829,  174180.52540756,
        539619.03668729,  265633.45063843,   88547.20237532,
        650817.58767849,  143520.13319578, -143388.81229779,
        704567.23999923, -131795.12249095, 1434096.77221086,
         82177.41922241,  233669.35005017,  180132.72250176,
       1062168.97037049,  418091.666563  ,  341818.72628244,
        311775.16623156,  864079.80097327, 1281203.70965154,
        566406.37030338,  502128.36239478,  352623.58710361,
        715259.27095809,  -35235.67143825,  166571.67649296,
         69366.2602677 ,  972199.06676288,  587944.95810906,
        574517.7686573 ,  547963.68159372,  213507.12545335,
       -253925.00943655,  145783.51142903,  164763.20127708,
         35380.76628742,  472316.34650207,  498248.38951313,
        301844.41093836,  441422.53254173,   91644.09844335,
        249454.93005271,  419138.01606827,  515093.66110036,
        597059.54431237,  146092.2217382 ,  484821.99440027,
        588661.26382703,  238177.85625912,  664006.97232714,
       1417079.59952616,  281928.27582098,   16830.66476884,
        486746.84611138,  408780.89222389,  272285.98041475,
        467732.57577612,  415343.26806094, 2182942.59230419,
        -61811.96808057,  470779.3636545 ,  436267.71645415,
        503724.95932949,  449701.84640294,  475336.47547859,
        204543.78607608,  224226.53532254, 1041982.12301493,
        742595.47510095,   42835.12746783,  508693.60979249,
         44988.80498014,  146522.83939813,  505570.46264049,
        270694.77865621,  600128.00245996,  501268.52894128,
         36420.58191071,  551368.60008679,  316075.39123157,
        369301.24510951,  415185.55089698,  576962.82751891,
         61292.84300759,  497966.56293803,   -6007.42519517,
        372290.65436666,  100826.12466629,  570511.43591642,
        328586.96259755,  664222.30284493,  394376.89516956,
        391606.13064975,  225187.3889617 ,   16039.52599365,
        307575.34292211,  355887.47572722,  165625.00731856,
        679815.3472459 ,  214124.5460717 ,  282787.68482547,
        158353.98468253,  650817.58767849,  131629.58922486,
        283225.09710333,  413124.95666613,  400368.59584671,
        570786.91870549,  585851.38354082,  307575.34292211,
        195559.81714268,  447530.82777154,  398864.94074517,
        -45180.86110083,   49904.92317047,  532450.03551248,
        295034.1590981 ,  842459.77747324,  465794.92611654,
       -189443.80109347,  652730.63725864,  468564.85930598,
        516237.0725807 ,  591544.92952792,  550177.96645589,
       2182942.59230419,  140193.38913906])

In [77]:
r2_score(y_test,y_pred)

0.6943463207368608

In [83]:
scores=[]
for i in range(1000):
    x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.2,random_state=i)
    lr=LinearRegression()
    pipe=make_pipeline(column_trans,lr)
    pipe.fit(x_train,y_train)
    y_pred = pipe.predict(x_test)
    print(r2_score(y_test,y_pred),i)
    scores.append(r2_score(y_test,y_pred))

0.5967996599319698 0
0.4980728851488695 1
0.4870434850532098 2
0.5151227002326986 3
0.719166349276649 4
0.6002618171779484 5
0.6368436193898928 6
0.6171447935052504 7
0.1942773021874239 8
0.5788107610042036 9
0.5234374468489498 10
0.5613706339042561 11
0.4773347265326816 12
0.6282017094810621 13
0.732741927183326 14
0.6333418549286505 15
0.47774620724243855 16
0.5033673743573732 17
0.5310992211747196 18
0.006142451556765072 19
0.6285678905770447 20
0.49899130779178036 21
0.7239927095491809 22
0.5970827770824534 23
0.4880222456417198 24
0.4467141181810049 25
0.5839135598034546 26
0.7375349342106545 27
0.5815526346451629 28
0.6615892920939617 29
0.6128888417481676 30
0.22375691114044638 31
0.6414091224137504 32
0.545852141614612 33
0.1569894310237927 34
0.5671361242444298 35
0.14891421886810374 36
0.5196365059440023 37
0.4331503667956984 38
0.6405446176560937 39
0.11268248026274885 40
0.5278669940769916 41
0.19356056430330837 42
-0.030993856337439007 43
0.536466629424539 44
0.6320552022889148 45
0.6342419977977926 46
0.5282013467159736 47
0.5879190705612936 48
0.18161494077615947 49
0.6922882959100004 50
0.6452829427345232 51
0.19033206381168377 52
0.5696219451729134 53
0.5446408631450299 54
0.5764007614451976 55
0.5995088089139519 56
0.67794606477304 57
0.6179597579747405 58
0.4788243810091042 59
0.6027401668312984 60
0.5444751377568644 61
0.4797658504065907 62
0.4617082429684286 63
0.153140591647544 64
0.22420903189791308 65
0.6029319819540162 66
0.2236173030482409 67
0.20875021633752544 68
0.5870272251919886 69
0.05487966848891224 70
0.6197916748263328 71
0.1556902859304834 72
0.2411031371907777 73
0.6109913004981333 74
0.5292701234948116 75
0.42619234782500925 76
0.2344673640703343 77
0.5672924834439841 78
0.20852949613387994 79
0.5508898278052234 80
0.2576868845119149 81
0.5654525249373018 82
0.6518411799943564 83
0.5901371608141526 84
0.6342244417690104 85
-0.385695499705077 86
0.3448972729002253 87
0.15605769908606892 88
0.5408888139751453 89
0.6438761412216989 90
0.23674215498023987 91
0.4920919487715244 92
0.4650792045787202 93
0.39754931528853954 94
0.5895180517325048 95
0.6237005637847628 96
0.19438401329304233 97
0.5361727128237893 98
0.4647696214595003 99
0.6799863412148972 100
0.42521274289274535 101
0.48700824542920595 102
0.17017670382454764 103
0.21132477693166274 104
0.6423275875830039 105
0.4968050591759402 106
0.54422160959186 107
0.6369911797882801 108
0.6383409150852675 109
0.20089168910615662 110
0.5444504283512663 111
0.14478957523698133 112
0.45929398226311446 113
0.5730045744748411 114
-0.44417313486609244 115
0.5817369695614794 116
0.5555911113784695 117
0.5449617036679694 118
0.7152567441227067 119
0.23398857514442672 120
0.4719731478639211 121
0.3091363062330801 122
0.5594413714291011 123
0.5591942865591476 124
0.6089355624210957 125
0.6290959074857574 126
0.19184763514131709 127
0.5395343891120468 128
0.1705812601128529 129
0.5971247950116515 130
0.5812462076301583 131
0.6266825770703031 132
0.20146700701565545 133
0.42178701134809693 134
0.562554126860713 135
0.6272013901263477 136
0.5453667964899093 137
0.5890195525486597 138
0.1685379030735843 139
0.4293950753417233 140
0.571227844079657 141
0.1764229106291456 142
0.42657566318270557 143
0.7521427645745811 144
0.1602688948464741 145
0.5183958010146203 146
0.6081616981370475 147
0.16651792942316346 148
0.5356296449737823 149
0.6260905849311487 150
0.6807301720803136 151
-0.6508585410681964 152
0.4904983399893704 153
0.5365637976061857 154
0.5046184131615405 155
0.34267184291478725 156
0.596301463152471 157
0.5550593557737691 158
0.595874089892312 159
0.24522433281073908 160
0.5928087693996145 161
0.6594260966404302 162
0.15235851368535913 163
0.3424066573046457 164
0.6212860355160006 165
0.41048381495159825 166
0.5371960058356047 167
0.5834778148902624 168
0.2312460769781488 169
0.6405095347376673 170
0.5917731933133847 171
0.6918338656529026 172
0.6567300803630054 173
0.47090787427692815 174
0.6483773516382119 175
0.17462701286616655 176
0.595623085690975 177
0.5871004767306016 178
0.2123382822910609 179
0.6649594121984004 180
0.2016234080911401 181
0.4974581031762282 182
0.5659735739463654 183
0.07287771183655267 184
-0.21803561882802902 185
0.57578494617957 186
0.2620970683092373 187
0.5578205674273051 188
0.18320115138447457 189
0.5584085421537968 190
0.6781049354812216 191
0.1958376907678715 192
0.7132587167795006 193
0.5567582753509597 194
0.4138114027060237 195
0.5215617780677737 196
0.7367986761990581 197
0.467056023402307 198
0.5805340328463969 199
0.6603061185628878 200
0.5893297075195029 201
0.5829843764171985 202
0.18615969230053453 203
0.260668138143364 204
0.6642989999685248 205
0.6831244812321006 206
0.16699239981739222 207
0.18493454505525853 208
-0.009347628961720034 209
0.4057289845918368 210
0.5132741695629244 211
0.13096425223140107 212
0.381982525046098 213
0.603917668598925 214
0.5815969143711218 215
0.5371621436458345 216
0.5128127866248784 217
0.16651236965463112 218
0.5368732166928274 219
0.5575263261552732 220
0.5818865808269484 221
0.5650229478476594 222
0.4709655351230847 223
0.1895030687182796 224
0.6582892114119728 225
0.7360110821239519 226
0.6200635316382735 227
0.6875666250153714 228
0.5224474248648516 229
0.5711802570060587 230
0.6770843918793348 231
0.48320923211925104 232
-2.064402322106084 233
0.6850547276034805 234
0.5682243581754955 235
0.6508611412340348 236
0.22451479010132236 237
0.19262653678831176 238
0.5615460044752418 239
0.5879309088800642 240
0.4329494300856995 241
0.4764021695741282 242
0.5334704138645935 243
0.5860187300384028 244
0.5770534472679252 245
0.6415408277598398 246
0.7204310436404754 247
0.6872628643954178 248
0.518747590698666 249
0.5562987508283554 250
0.4590552947678793 251
0.48073693625675873 252
0.6126952712838079 253
0.5894443133608818 254
0.7204351406823086 255
0.5511266619527853 256
0.6360864889400717 257
0.68913769287278 258
0.19558399257459957 259
0.641875749986293 260
0.06523445410256423 261
0.2001445667740378 262
0.6429634301141016 263
0.2839490303473652 264
0.48876605175456656 265
0.615892373074719 266
0.573687888161011 267
0.13331711238369748 268
0.5020066787758475 269
0.17641189118823242 270
0.4963848065838843 271
0.19813953601088508 272
0.5356692733763654 273
0.5611150879235683 274
0.1590622226025401 275
0.7555634563000421 276
0.6050482467749021 277
0.1783284156869478 278
0.21373488797583917 279
0.5728793445249358 280
0.5718676436971073 281
0.6192323366359263 282
0.7195853812365942 283
0.7185808857741489 284
0.6004948407072399 285
0.5390050507047 286
0.5769237141404393 287
0.544192689013445 288
0.4961372967293466 289
0.21022181013216812 290
0.5394139827011488 291
0.5996292301444202 292
0.2508148277707779 293
0.18504850412740603 294
0.14924992419975047 295
0.5887575044496257 296
0.6884270599388984 297
0.5851611271145913 298
0.3920255440435305 299
0.5784874964786345 300
0.6913479960719073 301
0.7219931494494587 302
0.465427233494199 303
0.46104208753338793 304
0.5657921949148405 305
0.6458997755341822 306
0.6590114905723593 307
0.5552144455538415 308
0.6376642039444332 309
0.2054695026728719 310
0.6051379168348718 311
0.6223446134422798 312
0.5269224658934724 313
0.7473635185444819 314
0.7049168402547905 315
0.24041116638977256 316
0.6151047170453191 317
0.1980041149832159 318
0.44801318305982585 319
0.1821603349220544 320
0.17717897159711438 321
0.479725553154961 322
0.5838478658054376 323
0.2210602623380168 324
0.5039768307330718 325
0.4831706565444627 326
0.5250557258515105 327
0.6036077355172651 328
0.6313070100475124 329
0.6767021491878045 330
0.584645007066426 331
0.13289204152108292 332
0.17915674472842913 333
0.6131353566773787 334
0.18579924107972534 335
0.18469791250230738 336
0.14525421707476582 337
0.5961396397419619 338
0.19295310664604248 339
0.2281818735034784 340
0.21376347618052172 341
0.1659442342956291 342
0.21780400099206687 343
0.6097187945816818 344
0.6520631689407405 345
0.4617006285161649 346
0.5943427475565752 347
0.7104137291912249 348
0.5451901563217273 349
0.6040857635302843 350
0.2162983629356775 351
0.5413702280844137 352
0.365282283312932 353
0.606306412006247 354
0.5345735188237115 355
0.43900890718677654 356
0.7078343473329467 357
0.6476810435723793 358
0.586575627703373 359
0.6574242664520362 360
0.5929255718197997 361
0.19132996698334126 362
0.22730203269638716 363

0.586827529967812 364
0.554919297809131 365
0.6530242065141458 366
0.31519860415638035 367
0.19663836883758012 368
0.6269350925057164 369
0.5955717212902727 370
0.6019889796867431 371
0.5210878449971807 372
0.5941016259522263 373
0.3787468435620358 374
0.5579121710549415 375
0.24276201101206296 376
0.48457479491485034 377
0.20922074063075635 378
0.19568187857604258 379
0.5274321370593646 380
0.7397232152059953 381
0.6843406352759329 382
0.6884608389035154 383
0.19516761502913083 384
0.6055393811224313 385
0.5466989242607616 386
0.5076211139100713 387
0.6677610902710724 388
0.12175360723898943 389
0.7129579373597688 390
0.4895187899392449 391
0.719605178349095 392
0.4746704099475476 393
-0.5285134242092822 394
0.20828034244975502 395
0.6384101980115381 396
-0.5075148157971647 397
0.6676935935596962 398
0.562054606278537 399
0.17369077577639802 400
0.4856009845288827 401
0.18660999239241494 402
0.44449270785858364 403
0.520400558696632 404
0.5408713048738611 405
0.14802352007834563 406
0.5426550879944081 407
0.5896566132797854 408
0.6332057848495773 409
0.1923619237242865 410
0.558277588158417 411
0.18833303977219962 412
0.19907023355999143 413
0.45329148493528704 414
0.43912549686538405 415
0.43520592687440574 416
0.6398497506879692 417
0.21159339391217447 418
0.6046941685017728 419
0.5672213809579969 420
0.5626236205212307 421
0.6842654511819963 422
0.555633195126054 423
0.6524040321607503 424
0.5226409102165501 425
0.527136001811124 426
0.6505870158216984 427
0.5941622041147098 428
0.6060472590727609 429
0.6151264882019502 430
0.6374608117784641 431
0.6380063785575807 432
0.6815519150654183 433
0.22163650063210738 434
0.6717706550569331 435
0.6077561268394953 436
0.20241963824302578 437
0.563508130955506 438
0.06014251586745589 439
0.631919719020847 440
0.5538423814912417 441
0.15738782679474783 442
0.5951430697709941 443
0.5578677020329437 444
0.21228240375026908 445
0.7195894419713771 446
0.5966188732853526 447
0.4632587961755401 448
0.6734302032036805 449
0.6860778595360727 450
0.44577133282593706 451
0.6094549169929182 452
0.5146918873012976 453
0.5984965201909892 454
0.5726191012000899 455
0.5248945019039648 456
0.5155414459615887 457
0.5189653595129504 458
0.23448215543492268 459
0.5517199463167595 460
0.49165302802758803 461
0.15677332623288553 462
0.6509366474859863 463
0.5515421618500745 464
0.5351708130076787 465
0.6148141249561669 466
0.49734088823859546 467
0.5364259123141222 468
0.4979674341195319 469
0.46603089464681324 470
0.22644757695055284 471
0.10387150163470249 472
0.5651753109433016 473
0.5607272760306584 474
0.7049157107549224 475
0.584464829627209 476
0.5493049352751291 477
0.6474150263475511 478
0.19384699071421463 479
0.14317696410908265 480
0.595977131521225 481
0.18954684653587905 482
0.2087764231908147 483
-0.6693936154032976 484
0.49775486322272156 485
0.5208398878884306 486
0.5707735199340068 487
0.45122617272799026 488
0.5935046163376202 489
0.6730197218492114 490
0.7027311629135324 491
0.38430688848252015 492
0.18339894045901894 493
0.6325418705630421 494
0.4944251479446462 495
0.16756787719285948 496
0.6995358725568894 497
0.24279064925356442 498
0.5804463115988434 499
0.6640277566376458 500
0.5835644120308839 501
0.19628623289112257 502
0.5616988748171847 503
0.42720768223130323 504
0.669500488034092 505
0.5393058897659686 506
0.6186201396167961 507
0.2127114329301535 508
0.21617781068564013 509
0.4502509906747356 510
0.7099553798508234 511
0.5973893376436493 512
0.39946498599771063 513
0.5923847449150432 514
0.7066650888967902 515
0.5658069580944702 516
0.6115623067278553 517
0.1649362105114317 518
0.6677039825063495 519
0.17473185387990853 520
0.5326447990511565 521
0.22236486098731967 522
0.6068596245817088 523
0.5094530002465625 524
0.5119599078430248 525
0.5918646185928134 526
0.1821036991120082 527
0.23820122437878544 528
0.16212568290190688 529
0.22333691703240666 530
0.5700314071631749 531
0.17951839567828642 532
0.6369435777237384 533
0.48734096950077266 534
0.6756796294930479 535
0.5919089093022072 536
0.5727042691406076 537
0.4905728904225768 538
0.5513524666325217 539
0.5430634850202125 540
0.6003831277005155 541
0.10850886692606798 542
0.5913735545357086 543
0.640595490667639 544
0.49134577041133165 545
0.17884985599769077 546
0.1740416334878887 547
0.538579079890482 548
0.648639864397087 549
0.6176465751324539 550
0.6259654277997546 551
0.05223383886798061 552
0.19589154452878232 553
0.5081855055715094 554
0.20915764236266976 555
0.5032887206164443 556
0.4899005525493151 557
0.5669149017801983 558
0.5204795358472575 559
0.5158638855099644 560
0.21201091433544472 561
0.24492854515967277 562
0.595027050815912 563
0.6520836521299601 564
0.7367626447806117 565
0.21847805549109067 566
0.6051070600278583 567
0.7236528381734328 568
0.09708521025397454 569
0.5351865004630509 570
0.20724584178862204 571
0.7125257020923415 572
0.5292031738460297 573
0.2062864206474535 574
0.15976353143461053 575
0.5816388606752259 576
0.7458710073422866 577
0.6131921912440477 578
0.5310899816767038 579
0.19883225449062603 580
0.6588125505362166 581
0.2022192393958926 582
0.4001611897908731 583
0.24939053051241022 584
0.5061686261495303 585
0.49826175048019505 586
0.649341749427047 587
0.42176056040698406 588
0.6572534757008837 589
0.3822740810508539 590
0.4949096927218942 591
0.6789761134621461 592
0.6246747349475723 593
0.516841890987072 594
0.5432050182279301 595
0.14264315556414064 596
0.44682745590303596 597
0.5069456364207352 598
0.1584531253141136 599
0.46900955239266584 600
0.43281609223135864 601
0.5883373949331059 602
0.5853759207839444 603
-0.46266791349013947 604
0.31804770694456663 605
0.546010195976169 606
-0.13199803240801788 607
0.7605152979302663 608
0.22494087679849062 609
0.5185666602349148 610
0.6351340951193354 611
0.5717558448325188 612
0.5754841881911765 613
0.6471126483475578 614
0.5342433011288791 615
0.44627157284497665 616
0.20923262149089594 617
0.6114993421020631 618
0.7134730160714733 619
0.20767279192963273 620
0.6448638427573226 621
0.5767367262335855 622
0.45417256879614787 623
0.6858606451263898 624
0.1518770498929416 625
0.22358591344468404 626
0.1882834942823548 627
0.5818970375996444 628
0.7010078057855154 629
0.1607146564710601 630
0.5543593263937743 631
0.5241672368909438 632
0.7195459968471287 633
0.5576537072067471 634
0.5648537320935598 635
0.6205467660033375 636
0.16759406193672444 637
0.6328536582809385 638
0.499818153396127 639
-0.7435418860959271 640
0.15941672502516935 641
0.63609623097224 642
0.161520387006871 643
0.6368415608932239 644
0.6299032161187624 645
0.5594177956922411 646
0.5674990264312254 647
0.6482976472477756 648
0.644235047155205 649
0.7208171511463584 650
0.5261885864590734 651
0.23850853310807751 652
0.3664648018075971 653
0.23493417627040725 654
0.3946496537933112 655
0.2165041774545562 656
0.1754194490387606 657
0.6304787264448375 658
0.5390432683657742 659
0.5733134566855728 660
0.773153292814377 661
0.6495850196144928 662
0.542848084777075 663
0.3720495086937571 664
0.6628318382581262 665
0.1576145749833503 666
0.6191933106510528 667
0.6643969705706252 668
0.22245305082549682 669
0.6034889632788761 670
0.281770044499268 671
0.5956172829067599 672
0.19854241106204906 673
0.1991642937603244 674
0.5288567435580376 675
0.5007071155372624 676
0.5141968524652523 677
0.17557830461963952 678
0.17547615018799512 679
0.5847286712854523 680
0.5079038633464432 681
0.23499964647935234 682
0.6065975124672864 683
0.7049185280482271 684
0.37214850804423183 685
0.6402937480173806 686
0.5619872828211964 687
0.4214541209507995 688
0.5478523021716415 689
0.5520762181020918 690
0.6925443254079193 691
0.163327706348935 692
0.5593712708632563 693
0.6864169398537046 694
0.614594076232152 695
0.5387003960074204 696
0.21301631664384946 697
0.6571020359928801 698
0.2047416066185892 699
-0.20319293040891218 700
0.6629617517380905 701
0.6393667261988859 702
0.6310608991222939 703
0.6146886567968421 704
0.6901333554952446 705
0.6707562701679064 706
0.5305986167524475 707
0.611027656488035 708
0.15760768028516858 709
0.6489886138693923 710
0.6137235942927785 711
0.6352787966091153 712
0.633264449788897 713
0.48084050332575257 714
0.6355109432139463 715
0.5400973329899836 716
0.624057190640369 717
0.42816035695960963 718
0.5676617906919493 719

0.43619779121143765 720
0.13278608049516616 721
0.24905198406123752 722
0.5554157536732365 723
0.639784738442696 724
0.5747489932002976 725
0.5351788702993754 726
0.6845472136358717 727
0.49122167814917783 728
0.6300078804311708 729
0.5503306953786637 730
0.5234104269930736 731
0.7010894097507681 732
0.5133627452577969 733
0.5559732933414027 734
0.521532200168441 735
0.5157510296116521 736
0.19400168526488304 737
0.6116226534009221 738
0.1989945993025375 739
0.3807884584519221 740
0.44840573540674133 741
0.7082689152423561 742
0.1810036925501547 743
0.4936692859510462 744
0.4487752089907663 745
0.6428602612189461 746
0.17659576956268064 747
0.17585582883640238 748
0.5474772034771144 749
0.15510097397539113 750
0.22639575085684616 751
0.6293386148838067 752
0.2052377934571642 753
0.6388749447226838 754
0.20704366872637303 755
0.3987543769593984 756
0.7147741295082283 757
0.5352722525019303 758
0.5530855940412334 759
0.6571889640792616 760
0.6632504816520692 761
0.20641167606201116 762
0.5782469250267059 763
0.49004333194318217 764
0.5231873913963465 765
0.6515502919615727 766
0.5874562686492635 767
0.5692710826420624 768
0.24554568207022798 769
0.5253133496077362 770
0.2369642580244835 771
0.5614112014734065 772
0.6151699100417489 773
0.5709101164986303 774
0.4701587563570384 775
0.51371292402036 776
0.4556663444873519 777
0.540086821126198 778
0.19432270620512904 779
0.6185087672639754 780
0.6905970506858232 781
0.23288508473067138 782
0.616511933446142 783
0.14454672467750396 784
0.5040215074823557 785
0.5380259314023302 786
0.615840007635819 787
0.4184604332019305 788
0.19248284899161305 789
0.190726762150633 790
0.5692070796945308 791
0.19200318819325368 792
0.3218496231308072 793
0.6378268784753904 794
0.5121743723182401 795
0.20597164904133303 796
0.6609759435409944 797
0.1020485225408514 798
0.6708088555011208 799
-0.36084283355048696 800
0.24267354362548377 801
0.6364806636086302 802
0.6755424620742442 803
0.18895248178626045 804
0.6026890304465387 805
0.22132094867381336 806
0.5366984606001461 807
0.17628422107268282 808
0.633925155341297 809
0.645849216831053 810
0.1702350338610068 811
0.6022054658986769 812
0.49553701305337794 813
0.760804783762459 814
0.48519415361252316 815
0.3607071298518607 816
0.6226373495615032 817
0.5570654233082424 818
0.5954318337579771 819
0.24452711381397696 820
0.6247713193219127 821
0.17575396399912357 822
0.5716399286857156 823
0.5360742863682649 824
0.2002042052998273 825
0.6078967193049513 826
0.7559261097481395 827
0.6402018650956061 828
0.20069390002373455 829
0.6049251709762835 830
0.71151191925967 831
0.742910595429373 832
0.5228141965792574 833
0.4384870622511672 834
0.6081295850874269 835
0.1550614059532316 836
0.19792883110536308 837
0.21963598017630281 838
0.6608139686893362 839
0.7207187346078754 840
0.4517836538520068 841
0.6429807420217538 842
0.48130318147032913 843
0.5506380937842665 844
0.449983432314373 845
0.4807151629648865 846
0.4620152301199457 847
0.14732663368273724 848
0.14894867748131713 849
0.5864474865690231 850
0.6731710770455592 851
0.5964411228820874 852
0.5267496021316952 853
0.664556230361186 854
0.5729761917528831 855
0.44991264947816045 856
0.5285609564887364 857
0.6823222729033671 858
0.5399274763596199 859
0.6767804681221751 860
0.4780789310987599 861
0.5911038389900871 862
0.6031017177784939 863
0.47056768125421156 864
0.4807581056306859 865
0.679322580368515 866
0.24752349830104237 867
0.4261268051108682 868
0.5645327509299745 869
0.5575980105112132 870
0.6512015277460846 871
0.6726944962445015 872
0.17810912465716822 873
0.5604641078829453 874
0.5476351338126282 875
0.5430992714893238 876
0.4638000849121997 877
0.38155857598776066 878
0.6114025142872721 879
0.5028698990265215 880
0.5620014816096472 881
0.5881249435479756 882
0.5793714772603311 883
0.5064248849415522 884
0.4733319939477486 885
0.39692399829932645 886
0.5101622887429057 887
0.6654359947924243 888
0.4648160183753819 889
0.6473371116551951 890
0.7610299307911244 891
0.6765937121637735 892
0.5898829164814776 893
0.24083595068832298 894
0.4968374413608603 895
0.5637853892563109 896
0.18574188425217875 897
0.6603252687084249 898
0.4275606009874354 899
0.6539329792213182 900
0.436842423076818 901
0.5181565975537843 902
0.7158552234661129 903
0.6960698964315543 904
0.2163608438048169 905
0.7768123227242751 906
0.5841276710652592 907
0.5567529406323184 908
0.6123574845375073 909
0.19886198961542867 910
0.5790170911791502 911
0.5822767325147415 912
0.48956847591393593 913
0.219588087112066 914
0.5063169057511541 915
0.5394286535950268 916
-0.10538037428657332 917
-0.36366529067160536 918
0.5773104855047007 919
0.21789164535624028 920
0.16884150787885222 921
0.2347644457437419 922
0.5762537875124856 923
0.5623617021218322 924
0.5510907358281374 925
0.7429516787696137 926
0.5447181362793021 927
0.15632704499365102 928
0.23843520468330104 929
0.571734281465051 930
0.6785703287342988 931
0.6190751101010301 932
0.4540278315288838 933
-0.08532343604990422 934
-0.04592182213804907 935
0.19880373959905617 936
0.5760400717631762 937
0.5587633167559106 938
-0.03305972858977779 939
0.49490907153157426 940
0.4463997409446292 941
0.6790504567383363 942
0.5662250234778503 943
0.17986837524924415 944
0.6279373617442443 945
0.6894397232304315 946
0.5290289435386331 947
0.5130595296987466 948
0.6068659054474506 949
0.5301014238571234 950
0.5456134811236397 951
0.6918913286715884 952
0.46311266646081695 953
0.20051399231753053 954
0.6057511545281333 955
0.5858449091730462 956
0.5718902328084312 957
0.6130780293715188 958
0.7277771826177843 959
-0.2743246878074972 960
0.5698294257034051 961
0.22342142729199888 962
0.6358876093860941 963
0.47485448552689125 964
0.5776031534725339 965
0.6594998882910631 966
0.1982368024111003 967
0.5992174666567484 968
0.21887181801913036 969
0.47987422375077016 970
0.2650884620462418 971
0.6012891928500834 972
0.1929946424556097 973
0.6201581401753475 974
0.4802494404964063 975
0.4491822385202552 976
0.6548132862618647 977
0.5174793346005514 978
0.5232501272098999 979
0.5016047398422421 980
0.5805003779702331 981
0.6469707873586046 982
0.5282255660490578 983
0.5489676855673931 984
0.5143959599455478 985
-0.044791033995170704 986
0.4427544312384605 987
0.1356887111068199 988
0.23484827514609163 989
0.677077641862887 990
0.1941368924887219 991
0.6024271012977622 992
0.62431109036694 993
0.6411987837685561 994
0.48532952978280064 995
0.5224444530712741 996
0.5200157582410326 997
0.6760624203704408 998
0.5922256412325908 999

In [84]:
import numpy as np

In [85]:
np.argmax(scores)

906

In [86]:
scores[np.argmax(scores)]

0.7768123227242751

In [87]:
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.2,random_state=np.argmax(scores))
lr=LinearRegression()
pipe=make_pipeline(column_trans,lr)
pipe.fit(x_train,y_train)
y_pred = pipe.predict(x_test)
r2_score(y_test,y_pred)

0.7768123227242751

In [88]:
import pickle

In [89]:
pickle.dump(pipe,open('LinearRegressionModel.pkl','wb'))

In [90]:
pipe.predict(pd.DataFrame([['Maruti Suzuki Swift','Maruti', 2019, 100 , 'Petrol']],columns = ['name','company','year','kms_driven','fuel_type']))

array([449871.08445585])

In [91]:
pipe.steps[0][1].transformers[0][1].categories[0]

array(['Audi A3 Cabriolet', 'Audi A4 1.8', 'Audi A4 2.0', 'Audi A6 2.0',
       'Audi A8', 'Audi Q3 2.0', 'Audi Q5 2.0', 'Audi Q7', 'BMW 3 Series',
       'BMW 5 Series', 'BMW 7 Series', 'BMW X1', 'BMW X1 sDrive20d',
       'BMW X1 xDrive20d', 'Chevrolet Beat', 'Chevrolet Beat Diesel',
       'Chevrolet Beat LS', 'Chevrolet Beat LT', 'Chevrolet Beat PS',
       'Chevrolet Cruze LTZ', 'Chevrolet Enjoy', 'Chevrolet Enjoy 1.4',
       'Chevrolet Sail 1.2', 'Chevrolet Sail UVA', 'Chevrolet Spark',
       'Chevrolet Spark 1.0', 'Chevrolet Spark LS', 'Chevrolet Spark LT',
       'Chevrolet Tavera LS', 'Chevrolet Tavera Neo', 'Datsun GO T',
       'Datsun Go Plus', 'Datsun Redi GO', 'Fiat Linea Emotion',
       'Fiat Petra ELX', 'Fiat Punto Emotion', 'Force Motors Force',
       'Force Motors One', 'Ford EcoSport', 'Ford EcoSport Ambiente',
       'Ford EcoSport Titanium', 'Ford EcoSport Trend',
       'Ford Endeavor 4x4', 'Ford Fiesta', 'Ford Fiesta SXi', 'Ford Figo',
       'Ford Figo Diesel', 'Ford Figo Duratorq', 'Ford Figo Petrol',
       'Ford Fusion 1.4', 'Ford Ikon 1.3', 'Ford Ikon 1.6',
       'Hindustan Motors Ambassador', 'Honda Accord', 'Honda Amaze',
       'Honda Amaze 1.2', 'Honda Amaze 1.5', 'Honda Brio', 'Honda Brio V',
       'Honda Brio VX', 'Honda City', 'Honda City 1.5', 'Honda City SV',
       'Honda City VX', 'Honda City ZX', 'Honda Jazz S', 'Honda Jazz VX',
       'Honda Mobilio', 'Honda Mobilio S', 'Honda WR V', 'Hyundai Accent',
       'Hyundai Accent Executive', 'Hyundai Accent GLE',
       'Hyundai Accent GLX', 'Hyundai Creta', 'Hyundai Creta 1.6',
       'Hyundai Elantra 1.8', 'Hyundai Elantra SX', 'Hyundai Elite i20',
       'Hyundai Eon', 'Hyundai Eon D', 'Hyundai Eon Era',
       'Hyundai Eon Magna', 'Hyundai Eon Sportz', 'Hyundai Fluidic Verna',
       'Hyundai Getz', 'Hyundai Getz GLE', 'Hyundai Getz Prime',
       'Hyundai Grand i10', 'Hyundai Santro', 'Hyundai Santro AE',
       'Hyundai Santro Xing', 'Hyundai Sonata Transform', 'Hyundai Verna',
       'Hyundai Verna 1.4', 'Hyundai Verna 1.6', 'Hyundai Verna Fluidic',
       'Hyundai Verna Transform', 'Hyundai Verna VGT',
       'Hyundai Xcent Base', 'Hyundai Xcent SX', 'Hyundai i10',
       'Hyundai i10 Era', 'Hyundai i10 Magna', 'Hyundai i10 Sportz',
       'Hyundai i20', 'Hyundai i20 Active', 'Hyundai i20 Asta',
       'Hyundai i20 Magna', 'Hyundai i20 Select', 'Hyundai i20 Sportz',
       'Jaguar XE XE', 'Jaguar XF 2.2', 'Jeep Wrangler Unlimited',
       'Land Rover Freelander', 'Mahindra Bolero DI',
       'Mahindra Bolero Power', 'Mahindra Bolero SLE',
       'Mahindra Jeep CL550', 'Mahindra Jeep MM', 'Mahindra KUV100',
       'Mahindra KUV100 K8', 'Mahindra Logan', 'Mahindra Logan Diesel',
       'Mahindra Quanto C4', 'Mahindra Quanto C8', 'Mahindra Scorpio',
       'Mahindra Scorpio 2.6', 'Mahindra Scorpio LX',
       'Mahindra Scorpio S10', 'Mahindra Scorpio S4',
       'Mahindra Scorpio SLE', 'Mahindra Scorpio SLX',
       'Mahindra Scorpio VLX', 'Mahindra Scorpio Vlx',
       'Mahindra Scorpio W', 'Mahindra TUV300 T4', 'Mahindra TUV300 T8',
       'Mahindra Thar CRDe', 'Mahindra XUV500', 'Mahindra XUV500 W10',
       'Mahindra XUV500 W6', 'Mahindra XUV500 W8', 'Mahindra Xylo D2',
       'Mahindra Xylo E4', 'Mahindra Xylo E8', 'Maruti Suzuki 800',
       'Maruti Suzuki A', 'Maruti Suzuki Alto', 'Maruti Suzuki Baleno',
       'Maruti Suzuki Celerio', 'Maruti Suzuki Ciaz',
       'Maruti Suzuki Dzire', 'Maruti Suzuki Eeco',
       'Maruti Suzuki Ertiga', 'Maruti Suzuki Esteem',
       'Maruti Suzuki Estilo', 'Maruti Suzuki Maruti',
       'Maruti Suzuki Omni', 'Maruti Suzuki Ritz', 'Maruti Suzuki S',
       'Maruti Suzuki SX4', 'Maruti Suzuki Stingray',
       'Maruti Suzuki Swift', 'Maruti Suzuki Versa',
       'Maruti Suzuki Vitara', 'Maruti Suzuki Wagon', 'Maruti Suzuki Zen',
       'Mercedes Benz A', 'Mercedes Benz B', 'Mercedes Benz C',
       'Mercedes Benz GLA', 'Mini Cooper S', 'Mitsubishi Lancer 1.8',
       'Mitsubishi Pajero Sport', 'Nissan Micra XL', 'Nissan Micra XV',
       'Nissan Sunny', 'Nissan Sunny XL', 'Nissan Terrano XL',
       'Nissan X Trail', 'Renault Duster', 'Renault Duster 110',
       'Renault Duster 110PS', 'Renault Duster 85', 'Renault Duster 85PS',
       'Renault Duster RxL', 'Renault Kwid', 'Renault Kwid 1.0',
       'Renault Kwid RXT', 'Renault Lodgy 85', 'Renault Scala RxL',
       'Skoda Fabia', 'Skoda Fabia 1.2L', 'Skoda Fabia Classic',
       'Skoda Laura', 'Skoda Octavia Classic', 'Skoda Rapid Elegance',
       'Skoda Superb 1.8', 'Skoda Yeti Ambition', 'Tata Aria Pleasure',
       'Tata Bolt XM', 'Tata Indica', 'Tata Indica V2', 'Tata Indica eV2',
       'Tata Indigo CS', 'Tata Indigo LS', 'Tata Indigo LX',
       'Tata Indigo Marina', 'Tata Indigo eCS', 'Tata Manza',
       'Tata Manza Aqua', 'Tata Manza Aura', 'Tata Manza ELAN',
       'Tata Nano', 'Tata Nano Cx', 'Tata Nano GenX', 'Tata Nano LX',
       'Tata Nano Lx', 'Tata Sumo Gold', 'Tata Sumo Grande',
       'Tata Sumo Victa', 'Tata Tiago Revotorq', 'Tata Tiago Revotron',
       'Tata Tigor Revotron', 'Tata Venture EX', 'Tata Vista Quadrajet',
       'Tata Zest Quadrajet', 'Tata Zest XE', 'Tata Zest XM',
       'Toyota Corolla', 'Toyota Corolla Altis', 'Toyota Corolla H2',
       'Toyota Etios', 'Toyota Etios G', 'Toyota Etios GD',
       'Toyota Etios Liva', 'Toyota Fortuner', 'Toyota Fortuner 3.0',
       'Toyota Innova 2.0', 'Toyota Innova 2.5', 'Toyota Qualis',
       'Volkswagen Jetta Comfortline', 'Volkswagen Jetta Highline',
       'Volkswagen Passat Diesel', 'Volkswagen Polo',
       'Volkswagen Polo Comfortline', 'Volkswagen Polo Highline',
       'Volkswagen Polo Highline1.2L', 'Volkswagen Polo Trendline',
       'Volkswagen Vento Comfortline', 'Volkswagen Vento Highline',
       'Volkswagen Vento Konekt', 'Volvo S80 Summum'], dtype=object)